In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
import datetime
from datetime import date, timedelta

In [8]:
import clean
import preproc

In [9]:
data1, data2, data3, data4 = clean.get_data()
data = clean.clean_all(data1, data2, data3, data4, clean.get_bairros_data())

In [16]:
data.to_csv("data_cleaned.csv")

In [12]:
preproc_data_n, preproc_data_rate = preproc.get_format(data)

In [13]:
preproc_data_n

           nb_crimes                                                     \
AR          Anchieta Bangu Barra da Tijuca Botafogo Campo Grande Centro
Date
2008-12-31         4     4               3        0            6      2
2009-01-01        10    21              15       12           38      3
2009-01-02         5     7               3        2           26      6
2009-01-03         1    18               5        3           16      3
2009-01-04         1    13               2        3           19      6
...              ...   ...             ...      ...          ...    ...
2019-12-28         7    16              11        9           13     16
2019-12-29         9     7               9       11            7      7
2019-12-30         5    14              12       10            8     10
2019-12-31         6     7               3        5            5      5
2020-01-01         0     0               0        1            0      0

                                                                   ...        \
AR         Cidade de Deus Complexo do Alemao Copacabana Guaratiba  ... Ramos
Date                                                               ...
2008-12-31              0                  0          5         5  ...     1
2009-01-01              2                  0         10        11  ...     9
2009-01-02              0                  0          8         2  ...     5
2009-01-03              2                  0          6         5  ...     6
2009-01-04              1                  0          5         2  ...     5
...                   ...                ...        ...       ...  ...   ...
2019-12-28              0                  0         19         3  ...     5
2019-12-29              2                  1         29         1  ...     4
2019-12-30              1                  0         10         3  ...     3
2019-12-31              0                  0         25         2  ...     4
2020-01-01              0                  0          0         0  ...     0

                                                                  \
AR         Realengo Rio Comprido Rocinha Santa Cruz Santa Teresa
Date
2008-12-31        4            1       0          1            1
2009-01-01        9            7       1         22            0
2009-01-02        5            1       0         10            2
2009-01-03        8            3       1          5            1
2009-01-04        7            7       0         15            0
...             ...          ...     ...        ...          ...
2019-12-28        9            2       0          2            2
2019-12-29        9            4       0          5            2
2019-12-30        4            0       1          5            1
2019-12-31        2            3       0          1            0
2020-01-01        0            0       0          0            0


AR         Sao Cristovao Tijuca Vigario Geral Vila Isabel
Date
2008-12-31             3      1             0           0
2009-01-01             4      2             2           7
2009-01-02             1      4             2           5
2009-01-03             3      3             5           2
2009-01-04             7      2             0           1
...                  ...    ...           ...         ...
2019-12-28             3      3             2           8
2019-12-29             3      3             4           4
2019-12-30             3      6             2           5
2019-12-31             1      3             2           1
2020-01-01             0      0             0           0

[4019 rows x 33 columns]

In [15]:
preproc.extract_ts(preproc_data_n,"Bangu")

              ds   y
0     2008-12-31   4
1     2009-01-01  21
2     2009-01-02   7
3     2009-01-03  18
4     2009-01-04  13
...          ...  ..
4014  2019-12-28  16
4015  2019-12-29   7
4016  2019-12-30  14
4017  2019-12-31   7
4018  2020-01-01   0

[4019 rows x 2 columns]