In [23]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [24]:
import pandas as pd
import clean
import preproc
import unidecode

In [25]:
data1, data2, data3, data4 = clean.get_data()

In [26]:
def merge_clean_debug(data1, data2, data3, data4):
    # Merging
    data = pd.concat([data1, data2, data3, data4]) # Merging all datasets
    # Focusing on Rio de Janeiro only
    data = data[data["municipio_fato"] == "Rio de Janeiro (Capital)"] # Filtering on Rio de Janeiro only
    # Columns transforming
    data = data[["controle", "titulo_do", "total_rbft", "cisp", "data_fato",\
        "hora_fato", "local", "bairro_fato"]] # Removing useless columns
    data.columns = ["Crime_ID", "Crime_sub_type", "Crime_type",\
        "Police_station", "Date", "Time", "Place_type", "Neighborhood"]  # Renaming columns in English
    # Date and Time preprocessing
    data = data[data["Time"] != "99"] # Removing invalid time format
    
    # Part added to debugging - only one part of the issue
    data = data.dropna(subset = ['Date'])
    
    data["Test_Date_Time"] = data["Date"] + " " + data["Time"]
    data["Date_Time"] = pd.to_datetime(data["Test_Date_Time"])
    
    data.drop(columns=["Date", "Time"], inplace=True) # Removing time and date columns once the Date_Time is created
    data = data[data["Date_Time"] > "2008-12-31"] # Removing irrelevant date samples

    data = data.drop_duplicates(subset="Crime_ID")
    data["Neighborhood"] = data["Neighborhood"].map(lambda x: unidecode.unidecode(x)) # Removing accents
    data = data[data["Neighborhood"] != "sem informacao"] # Removing missing values for neighborhood
    return data

In [12]:
data = merge_clean_debug(data1, data2, data3, data4)

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1219368 entries, 0 to 701663
Data columns (total 8 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   Crime_ID        1219368 non-null  object
 1   Crime_sub_type  1219368 non-null  object
 2   Crime_type      1219368 non-null  object
 3   Police_station  1219368 non-null  object
 4   Place_type      1219368 non-null  object
 5   Neighborhood    1219368 non-null  object
 6   Test_Date_Time  1219368 non-null  object
 7   Date_Time       1219368 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(7)
memory usage: 83.7+ MB

In [28]:
data.describe()

/var/folders/7b/hgztdlzd4k76rwydg33k1vhm0000gn/T/ipykernel_65875/3175101911.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data.describe()

,Crime_ID,Crime_sub_type,Crime_type,Police_station,Place_type,Neighborhood,Test_Date_Time,Date_Time
count,1219368,1219368,1219368,1219368,1219368,1219368,1219368,1219368
unique,1219368,27,3,42,68,14206,448010,448010
top,00787401-2009,Roubo a transeunte,Roubo,034a. Bangu,Via pública,CENTRO,2018-02-10 00:00,2018-02-10 00:00:00
freq,1,353411,698094,71675,875865,52952,279,279
first,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008-12-31 01:00:00
last,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-01 00:30:00

In [29]:
data = clean.get_AR(data, clean.get_bairros_data())

In [21]:
data.shape

(1188504, 9)