In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import unidecode
import fuzzymatcher

In [32]:

# Data loading
def get_data():
    data1 = pd.read_csv('raw_data/parte1.csv', sep=';', encoding = 'iso-8859-1')
    data2 = pd.read_csv('raw_data/parte2.csv', sep=';', encoding = 'iso-8859-1')
    data3 = pd.read_csv('raw_data/parte3.csv', sep=';', encoding = 'iso-8859-1')
    data4 = pd.read_csv('raw_data/parte4.csv', sep=';', encoding = 'iso-8859-1')
    kept_columns = ['controle', 'titulo_do', 'total_rbft', 'cisp', 'data_fato', 'hora_fato', 'local', 'bairro_fato']
    eng_columns = ['Crime_ID', 'Crime_sub_type', 'Crime_type', 'Police_station', 'Date', 'Time', 'Place_type', 'Neighborhood']
    return data1, data2, data3, data4, kept_columns, eng_columns

# Import data with correct bairros and AR names
def get_bairros_data():
    bairros_all = pd.read_csv("raw_data/bairros_lista.csv", encoding='iso-8859-1')
    return bairros_all


# Cleaning function
def merge_clean(data1, data2, data3, data4):

    # Merging
    data = pd.concat([data1, data2, data3, data4]) # Merging all datasets

    # Focusing on Rio de Janeiro only
    data = data[data['municipio_fato'] == 'Rio de Janeiro (Capital)'] # Filtering on Rio de Janeiro only

    # Columns transforming
    data = data[kept_columns] # Removing useless columns
    data.columns = eng_columns  # Renaming columns in English

    # Date and Time preprocessing
    data = data[data['Time'] != '99'] # Removing invalid time format
    data['Date_Time'] = pd.to_datetime(data['Date'] + ' '
                                      + data['Time'], format='%Y-%m-%d %H:%M') # Passing to datetime format
    data.drop(columns=['Date', 'Time'], inplace=True) # Removing time and date columns once the Date_Time is created
    data = data[data['Date_Time'] > '2008-01-31'] # Removing irrelevant date samples

    # Missing values, duplicates & text standardizing
    data = data.drop_duplicates(subset="Crime_ID") # Removing duplicates
    data['Neighborhood'] = data['Neighborhood'].map(lambda x: unidecode.unidecode(x)) # Removing accents
    data = data[data['Neighborhood'] != 'sem informacao'] # Removing missing values for neighborhood

    return data

# Bairra detail
def barra_replace(row):
    if row == "Barra":
        row= "Barra da Tijuca"
    return row

# Bairros/AR matching
def get_AR(data, ar_data): #data_AR should be the full table with bairros and AR

    data['Neighborhood'] = data['Neighborhood'].map(barra_replace) # Setting the good "Barra da Tijuca" name

    # Bairros matching
    bairros = pd.DataFrame(ar_data, columns=["Bairro"]) # Creating a table with only the bairros
    bairros.set_index("Bairro")
    data = fuzzymatcher.fuzzy_left_join(data, bairros, left_on="Neighborhood", right_on="Bairro") # Replacing non-standardized bairros names with standardized ones
    data = data.drop(columns=['best_match_score', '__id_left', '__id_right', 'Neighborhood']) # Removing useless columns
    data.rename(columns={'Bairro': 'Neighborhood'}, inplace=True)
    data = pd.merge(data,ar_data,left_on='Neighborhood', right_on='Bairro',how='left').drop(columns=["Regiao","IDS","Bairro",'N¼']) # Aggreagting the right AR names to our new bairros
    data.rename(columns={'R.A': 'RA'}, inplace=True)
    data = data.dropna(subset='RA') # Removing lines with no bairros/AR information

    return data

# Cleaning - all
def clean_all(data1, data2, data3, data4, ar_data):
    data = merge_clean(data1, data2, data3, data4)
    data = get_AR(data, ar_data)

    return data

In [33]:
data1, data2, data3, data4, kept_columns, eng_columns = get_data()

In [34]:
data = merge_clean(data1, data2, data3, data4)

In [37]:
data.dtypes

Crime_ID                  object
Crime_sub_type            object
Crime_type                object
Police_station            object
Place_type                object
Neighborhood              object
Date_Time         datetime64[ns]
dtype: object

In [38]:
data['Neighborhood'] = data['Neighborhood'].map(barra_replace)

In [39]:
get_bairros_data()

      N¼          Bairro              R.A      Regiao    IDS
0      1           Lagoa            Lagoa    Zona Sul  0.854
1      2          Leblon            Lagoa    Zona Sul  0,809
2      3         Ipanema            Lagoa    Zona Sul  0,801
3      4         Humaita         Botafogo    Zona Sul  0,798
4      5            Urca         Botafogo    Zona Sul  0,795
..   ...             ...              ...         ...    ...
153  154       Guaratiba        Guaratiba  Zona Oeste  0,433
154  155  Vargem Pequena  Barra da Tijuca  Zona Oeste  0,425
155  156   Vargem Grande  Barra da Tijuca  Zona Oeste  0,408
156  157         Camorim      Jacarepagua  Zona Oeste  0,369
157  158         Grumari  Barra da Tijuca  Zona Oeste  0,277

[158 rows x 5 columns]

In [40]:
bairros = pd.DataFrame(get_bairros_data(), columns=["Bairro"]) # Creating a table with only the bairros

In [41]:
bairros

             Bairro
0             Lagoa
1            Leblon
2           Ipanema
3           Humaita
4              Urca
..              ...
153       Guaratiba
154  Vargem Pequena
155   Vargem Grande
156         Camorim
157         Grumari

[158 rows x 1 columns]

In [43]:
bairros.set_index("Bairro")

Empty DataFrame
Columns: []
Index: [Lagoa, Leblon, Ipanema, Humaita, Urca, Barra da Tijuca, Jardim Botanico, Sao Conrado, Gavea, Laranjeiras, Flamengo, Leme, Maracana, Copacabana, Jardim Guanabara, Botafogo, Campo dos Afonsos, Tijuca, Grajau, Meier, Monero, Cosme Velho, Joa, Todos os Santos, Gloria, Andarai, Ribeira, Vila Isabel, Zumbi, Rocha, Praca da Bandeira, Cachambi, Riachuelo, Cocota, Vila Valqueire, Vila da Penha, Catete, Pechincha, Freguesia (Jacarepagua), Praia da Bandeira, Maria da Graca, Sao Francisco Xavier, Anil, Higienopolis, Vista Alegre, Portuguesa, Centro, Jardim Sulacap, Abolicao, Rio Comprido, Engenho Novo, Freguesia (Ilha do Governador), Encantado, Bonsucesso, Lins de Vasconcellos, Recreio dos Bandeirantes, Vila Cosmos, Engenho de Dentro, Ramos, Santa Teresa, Taquara, Iraja, Quintino Bocaiuva, agua Santa, Olaria, Piedade, Jardim Carioca, Bancarios, Praca Seca, Saude, Tanque, Vila Militar, Campinho, Sao Cristovao, Paqueta, Penha Circular, Oswaldo Cruz, Jacare, Bento Ribeiro, Cascadura, Bras de Pina, Madureira, Pilares, Vaz Lobo, Engenho da Rainha, Penha, Cacuia, Pitangueiras, Marechal Hermes, Tomas Coelho, Sampaio, Estacio, Santo Cristo, Cidade Universitaria, Cavalcanti, Jardim America, Taua, Inhauma, Benfica, Catumbi, ...]

[158 rows x 0 columns]

In [44]:
data = fuzzymatcher.fuzzy_left_join(data, bairros, left_on="Neighborhood", right_on="Bairro") # Replacing non-standardized bairros names with standardized ones

In [45]:
data = data.drop(columns=['best_match_score', '__id_left', '__id_right', 'Neighborhood']) # Removing useless columns

In [46]:
data.rename(columns={'Bairro': 'Neighborhood'}, inplace=True)

In [48]:
data = pd.merge(data,get_bairros_data(),left_on='Neighborhood', right_on='Bairro',how='left').drop(columns=["Regiao","IDS","Bairro",'N¼']) # Aggreagting the right AR names to our new bairros

In [49]:
data.rename(columns={'R.A': 'RA'}, inplace=True)

In [51]:
data = data.dropna(subset=['RA']) # Removing lines with no bairros/AR information

In [52]:
data

,Crime_ID,Crime_sub_type,Crime_type,Police_station,Place_type,Date_Time,Neighborhood,RA
0,00787401-2009,Lesão corporal dolosa,Não se aplica,043a. Pedra de Guaratiba,Praia,2009-01-01 04:30:00,Pedra de Guaratiba,Guaratiba
1,01137431-2009,Lesão corporal dolosa,Não se aplica,035a. Campo Grande,Residência,2009-01-01 19:00:00,Santissimo,Campo Grande
2,02023941-2009,Lesão corporal dolosa,Não se aplica,040a. Honório Gurgel,Residência,2008-12-31 20:30:00,Honorio Gurgel,Madureira
4,04751871-2009,Lesão corporal dolosa,Não se aplica,035a. Campo Grande,Via pública,2009-01-01 01:30:00,Campo Grande,Campo Grande
5,04909311-2009,Ameaça,Não se aplica,039a. Pavuna,Residência,2009-01-01 03:03:00,Ricardo de Albuquerque,Anchieta
...,...,...,...,...,...,...,...,...
1220307,96730181-2019,Roubo em coletivo,Roubo,027a. Vicente de Carvalho,Interior de coletivo,2019-12-19 20:55:00,Iraja,Iraja
1220308,97578571-2019,Furto a transeunte,Furto,012a. Copacabana,Praia,2019-12-31 17:00:00,Copacabana,Copacabana
1220309,98313421-2019,Furto a transeunte,Furto,012a. Copacabana,Via pública,2019-12-29 19:00:00,Copacabana,Copacabana
1220310,98452031-2019,Furto a transeunte,Furto,014a. Leblon,Interior de coletivo,2019-12-30 11:45:00,Centro,Centro
1220311,98535391-2019,Furto a transeunte,Furto,004a. Praça da República,Estação metroviária,2019-12-31 19:00:00,Centro,Centro

In [56]:
data.Date_Time.isnull().sum()

0

In [57]:
data

,Crime_ID,Crime_sub_type,Crime_type,Police_station,Place_type,Date_Time,Neighborhood,RA
0,00787401-2009,Lesão corporal dolosa,Não se aplica,043a. Pedra de Guaratiba,Praia,2009-01-01 04:30:00,Pedra de Guaratiba,Guaratiba
1,01137431-2009,Lesão corporal dolosa,Não se aplica,035a. Campo Grande,Residência,2009-01-01 19:00:00,Santissimo,Campo Grande
2,02023941-2009,Lesão corporal dolosa,Não se aplica,040a. Honório Gurgel,Residência,2008-12-31 20:30:00,Honorio Gurgel,Madureira
4,04751871-2009,Lesão corporal dolosa,Não se aplica,035a. Campo Grande,Via pública,2009-01-01 01:30:00,Campo Grande,Campo Grande
5,04909311-2009,Ameaça,Não se aplica,039a. Pavuna,Residência,2009-01-01 03:03:00,Ricardo de Albuquerque,Anchieta
...,...,...,...,...,...,...,...,...
1220307,96730181-2019,Roubo em coletivo,Roubo,027a. Vicente de Carvalho,Interior de coletivo,2019-12-19 20:55:00,Iraja,Iraja
1220308,97578571-2019,Furto a transeunte,Furto,012a. Copacabana,Praia,2019-12-31 17:00:00,Copacabana,Copacabana
1220309,98313421-2019,Furto a transeunte,Furto,012a. Copacabana,Via pública,2019-12-29 19:00:00,Copacabana,Copacabana
1220310,98452031-2019,Furto a transeunte,Furto,014a. Leblon,Interior de coletivo,2019-12-30 11:45:00,Centro,Centro
1220311,98535391-2019,Furto a transeunte,Furto,004a. Praça da República,Estação metroviária,2019-12-31 19:00:00,Centro,Centro

In [58]:
get_bairros_data()

      N¼          Bairro              R.A      Regiao    IDS
0      1           Lagoa            Lagoa    Zona Sul  0.854
1      2          Leblon            Lagoa    Zona Sul  0,809
2      3         Ipanema            Lagoa    Zona Sul  0,801
3      4         Humaita         Botafogo    Zona Sul  0,798
4      5            Urca         Botafogo    Zona Sul  0,795
..   ...             ...              ...         ...    ...
153  154       Guaratiba        Guaratiba  Zona Oeste  0,433
154  155  Vargem Pequena  Barra da Tijuca  Zona Oeste  0,425
155  156   Vargem Grande  Barra da Tijuca  Zona Oeste  0,408
156  157         Camorim      Jacarepagua  Zona Oeste  0,369
157  158         Grumari  Barra da Tijuca  Zona Oeste  0,277

[158 rows x 5 columns]